{% extends 'base.html.twig' %}
{% block title %}
    ТОП 10 популярных фильмов
{% endblock %}
{% block body %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>ТОП 10 популярных фильмов</h1>
    </div>
{% endblock %}